/* ---------Efeito cascata------ */

/* .containar-cascata{
    background-color: aqua;
}  */

/* .containar-cascata{
    background-color: orange;
} */


 /* -------Especificidade-------*/

 #meu-paragrafo {
    background-color: violet !important;
 }

 .container-especificidade p{
    background-color: chartreuse;
 }
 p{
    background-color: lightskyblue;
 }

